.accordion {
  @include clearlist;
  counter-reset: myCounter;
  max-width: 560px;
}

.accordion__item {
  padding-top: 38px;
  padding-right: 80px;
  padding-bottom: 32px;
  width: 560px;
  position: relative;
  border-bottom: 1px solid rgba(28, 28, 28, 0.2);

  &:nth-child(n+5) {
    padding-bottom: 24px;
  }

  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    position: absolute;
    top: 25px;
    left: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    color: $yellow;
  }

  &--active .accordion__content {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    top: 43px;
    right: 35px;
    width: 20px;
    height: 15px;
    background-image: url("../../img/icon-tick-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &--active::after {
    background-image: url("../../img/icon-tick-up.svg");
  }
}

.accordion__trigger h3 {
  margin: 0;
  padding-right: 85px;
  padding-left: 30px;
  display: inline-block;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: $black;
  cursor: pointer;
}

.accordion__content {
  display: none;


  &--active {
    display: block;
  }
}

.accordion__content p {
  margin: 0;
  margin-top: 24px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: $black;
  opacity: 0.74;
}

@media (max-width: $mobile-max) {
  .accordion {
    width: 100%;
    max-width: 100%;
  }

  .accordion__trigger h3 {
    padding: 0;
    padding-left: 25px;
    font-size: 16px;
    line-height: 26px;
  }

  .accordion__content p {
    margin-top: 17px;
    font-size: 14px;
    line-height: 22px;
  }

  .accordion__item {
    padding-right: 25px;
    padding-bottom: 15px;
    width: 100%;

    &:nth-child(2n) {
      padding-bottom: 22px;
    }

    &:nth-child(n+5) {
      padding-bottom: 15px;
    }

    &::after {
      right: 0;
    }
  }
}
