.faq {
  padding-top: 135px;
  padding-bottom: 67px;
  background-image: url("../img/bag.png"), url("../img/watercolor_Bg_4.png");
  background-repeat: no-repeat;
  background-size: 153px 177px, cover;
  background-position: left 727px, center 0;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bag@2x.png"), url("../img/watercolor_Bg_4@2x.png");
  }
}

.faq__wrapper {
  margin: 0 auto;
  padding-left: 110px;
  max-width: 1366px;
}

.faq__container {
  display: flex;
  justify-content: space-between;
}

.faq__wrapper h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 9px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $blue;
}

.faq__container img {
  position: relative;
  top: -56px;
  left: 0;
  max-height: 803px;
  width: 100%;
  max-width: 645px;
}


@media (max-width: $tablet-max) {
  .faq__container img {
    display: none;
  }
}


@media (max-width: $mobile-max) {
  .faq {
    padding: 0;
  }

  .faq__wrapper {
    margin-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  .faq__accordion {
    flex-basis: 100%;
  }

  .faq__wrapper h2 {
    margin: 0;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
}
