.feedback {
  margin-bottom: 66px;
  background-image: url("../img/sketch.png"), url("../img/watercolor_Bg_3.png");
  background-repeat: no-repeat;
  background-size: 523px 318px, cover;
  background-position: right 20px, center 0;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/sketch@2x.png"), url("../img/watercolor_Bg_3@2x.png");
  }
}

.feedback__wrapper {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1171px;
}

.feedback__wrapper h2 {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $blue;
  text-align: center;
}

.feedback__slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.feedback__track {
  width: 100%;
  display: flex;
}

.feedback__item {
  padding-top: 48px;
  width: 100%;
  height: 100%;
  min-width: 100%;
  display: flex;
  overflow-x: hidden;
}

.feedback__item img {
  margin-right: 22px;
  position: relative;
  top: -40px;
  left: -8px;
  max-height: 480px;
}

.feedback__content {
  width: 66%;
}

.feedback__button {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 8px;
  height: 15px;
  border: 0;
  background: 0;
  cursor: pointer;

  &--prev {
    background-image: url("../img/icon-tick-left.svg");
  }

  &--next {
    background-image: url("../img/icon-tick-right.svg");
  }
}

@media (max-width: $mobile-max) {
  .feedback {
    margin-bottom: 114px;
  }

  .feedback__wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }

  .feedback__wrapper h2 {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 39px;
  }

  .feedback__content {
    width: 100%;
  }

  .feedback__slider {
    display: block;
  }

  .feedback__item {
    display: block;
  }

  .feedback__item img {
    margin: 0 auto;
    margin-bottom: 13px;
    display: block;
    width: 240px;
    height: 320px;
    top: 0;
    left: 0;
  }
}
