.header {
  margin-bottom: 20px;
  padding-top: 31px;
  padding-bottom: 112px;
  position: relative;
  background-color: #ebecee;
  background-image: url("../img/girl.png"), url("../img/israel.png"), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: 48% 0, 52% 29%, 50% 50%;
  background-size: auto, 76%, cover;
  text-align: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/girl@2x.png"), url("../img/israel@2x.png"), url("../img/bg@2x.jpg");
  }
}

.header__menu {
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 15px;
  max-width: 1171px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__call,
.header__tel {
  font-family: "Fira sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: $black;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: $yellow;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__call {
  margin-left: 30px;
  font-size: 13px;
  border-bottom: 1px dashed $black;

  &:hover {
    border-bottom: 1px dashed $yellow;
  }
}

.header__title {
  margin: 0 auto;
  margin-bottom: 32px;
  padding-top: 456px;
  font-family: "Fira sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #ffffff;
  max-width: 380px;
}

@media (max-width: $tablet-max) {
  .header {
    background-size: 1255px, 100%, cover;
  }
}

@media (max-width: $mobile-max) {
  .header {
    margin-bottom: 50px;
    padding-top: 21px;
    padding-bottom: 30px;
    background-position: 50% -100%, 50% 38%, 50% 50%;
    background-size: 920px, 107%, cover;
  }

  .header__menu {
    padding-right: 9px;
    flex-direction: column;
    align-items: flex-end;
  }

  .header__logo {
    position: absolute;
    width: 120px;
    height: 42px;
    top: 20px;
    left: 16px;
  }

  .header__menu a {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 17px;

    &:last-child {
      margin-bottom: 0;
      font-size: 13px;
    }
  }

  .header__title {
    margin: 0 auto;
    margin-bottom: 32px;
    padding-top: 272px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    line-height: 24px;
    max-width: 380px;
  }
}
