.modal-order {
  padding-top: 56px;
  padding-bottom: 40px;
  padding-left: 48px;
  padding-right: 72px;
  position: absolute;
  top: 123px;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
  border-radius: 8px;
  background-color: #ffffff;
}

.modal-order h2 {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: $blue;
}

.modal-order p {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Fira sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: $black;
  opacity: 0.87;
}

.modal-order__form svg {
  display: none;
}

.modal-order__form label {
  position: relative;
}

.modal-order__form input {
  margin-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 100%;
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  font-family: "Fira sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;

  &:checked + svg {
    display: block;
    position: absolute;
    top: 5px;
    left: 26px;
    z-index: 2;

    & path {
      stroke: $yellow;
    }
  }

  &:focus {
    border: 2px solid $yellow;
    outline: 0;
  }
}

.modal-order__form input[type="tel"] {
  margin-bottom: 24px;
}

.modal-order__form button {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 19px;
  padding-bottom: 20px;
  width: 264px;
  border: 0;
  border-radius: 80px;
  background: $gradient;
  font-family: "Fira sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;

  &:hover {
    background: $gradient__hover;
  }

  &:active {
    background: $gradient__active;
  }
}

.modal-order__form span {
  display: block;
  position: relative;
  padding-left: 49px;
  font-family: "Fira sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: $black;
  opacity: 0.74;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 25px;
    width: 16px;
    height: 16px;
    border: 2px solid $yellow;
    border-radius: 2px;
  }
}

.modal-order__close {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 20px;
  right: 20px;
  border: 0;
  width: 20px;
  height: 20px;
  background: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -1px;
    width: 22px;
    height: 2px;
    background-color: $yellow;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-max) {
  .modal-order {
    padding-top: 169px;
    padding-bottom: 169px;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 100%;
    border-radius: 0;
  }

  .modal-order h2 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .modal-order p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}
