.promo {
  padding-top: 192px;
  padding-bottom: 196px;
  background-image: url("../img/cynthia-magana-138943-unsplash.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/cynthia-magana-138943-unsplash@2x.png");
  }
}

.promo h2 {
  margin: 0;
  margin-left: 58%;
  margin-bottom: 24px;
  padding-left: 5px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $blue;
}

.promo p {
  margin: 0;
  margin-left: 58%;
  margin-bottom: 49px;
  padding-left: 7px;
  max-width: 403px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: #ffffff;
  opacity: 0.87;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.promo__button {
  margin-left: 58.3%;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  background: $gradient;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 80px;

  &:hover {
    background: $gradient__hover;
  }

  &:active {
    background: $gradient__active;
  }
}

.promo__button svg {
  position: relative;
  top: -2px;
}

.promo__button span {
  margin-left: 10px;
  display: inline-block;
  vertical-align: baseline;
}

@media (max-width: $mobile-max) {
  .promo {
    margin-bottom: 80px;
    padding: 0;
    padding-top: 31px;
    background-size: auto 272px;
    background-position: 22% 50%;
  }

  .promo h2 {
    margin: 0 auto;
    margin-bottom: 96px;
    padding: 0;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }

  .promo p {
    margin: 0;
    margin-bottom: 57px;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 16px;
    line-height: 26px;
    max-width: 100%;
  }

  .promo__button {
    margin: 0 auto;
    width: 264px;
    font-size: 15px;
  }

  .promo__button span {
    margin-left: 8px;
  }

  .promo__button svg {
    margin-right: 0;
  }
}
