.review {
  display: flex;
  flex-direction: column;
}

.review__header {
  margin-bottom: 14px;
}

.review__header h3 {
  margin: 0;
  margin-bottom: 9px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: $black;
  opacity: 0.74;
}

.review__header span {
  margin-right: 8px;
  display: inline-block;
  vertical-align: baseline;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: $blue;
}

.review__header p {
  margin: 0;
  display: inline-block;
  vertical-align: baseline;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: $black;
  opacity: 0.74;
}

.review__content {
  margin-bottom: 56px;
}

.review__content p {
  padding-right: 55px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: $black;
  opacity: 0.74;
}

.review__content a {
  text-decoration: underline;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: $blue;
}

.review__footer {
  padding-right: 39px;
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.review__footer span {
  margin-right: 24px;
}

.review__button {
  margin-right: 20px;
  width: 8px;
  height: 15px;
  border: 0;
  background: 0;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }

  &--prev {
    background-image: url("../img/icon-tick-left.svg");
  }

  &--next {
    margin-right: 0;
    background-image: url("../img/icon-tick-right.svg");
  }
}

.review__socials {
  margin-left: auto;
}

.review__socials a {
  margin-right: 13px;
  opacity: 0.16;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (max-width: $mobile-max) {
  .review__footer {
    margin: 0 auto;
    margin-bottom: 27px;
    padding: 0;
    padding-left: 5px;
    order: -1;
    justify-content: center;
  }

  .review__socials {
    position: absolute;
    bottom: -40px;
    left: -4px;
  }

  .review__header {
    margin-bottom: 8px;
  }

  .review__header span {
    font-size: 14px;
    line-height: 22px;
  }

  .review__header p {
    font-size: 14px;
    line-height: 22px;
  }

  .review__content {
    margin-bottom: 10px;
  }

  .review__content p {
    padding-right: 0;
    font-size: 16px;
    line-height: 26px;
  }

  .review__content a {
    margin-top: 24px;
    display: block;
    font-size: 16px;
    line-height: 24px;
  }

  .review__socials a {
    margin-right: 11px;
  }
}
