.steps p {
  margin-bottom: 32px;
  padding-right: 65px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;
  color: rgba(72, 72, 72, 0.87);

  &:last-child {
    padding-left: 13px;
    padding-right: 0;
    font-family: "Fira Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: rgba(72, 72, 72, 0.5);
    border-left: 4px solid $yellow;
  }
}

.steps__list {
  padding-right: 70px;
  margin-bottom: 48px;
  padding-left: 42px;
  counter-reset: myCounter;
  border-left: 1px dashed rgba(72, 72, 72, 0.87);
}

.steps__item {
  margin-bottom: 46px;
  position: relative;
  list-style: none;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: rgba(72, 72, 72, 0.87);

  &:first-child {
    margin-bottom: 53px;
  }

  &:nth-child(3n) {
    margin-bottom: 38px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    position: absolute;
    top: -6px;
    left: -59px;
    color: $yellow;
    background: #ffffff;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
    width: 36px;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: $mobile-max) {
  .steps p {
    padding: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;

    &:last-child {
      margin-bottom: 0;
      position: relative;
      left: -6px;
      padding-left: 10px;
      font-family: "Fira Sans", "Arial", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: rgba(72, 72, 72, 0.5);
      border-left: 4px solid $yellow;
    }
  }

  .steps__list {
    margin-bottom: 23px;
    margin-left: 10px;
    padding-right: 0;
    padding-left: 33px;
  }

  .steps__item {
    margin-bottom: 38px;
    font-size: 14px;
    line-height: 22px;

    &::before {
      left: -52px;
    }

    &:first-child {
      margin-bottom: 61px;
    }

    &:nth-child(3n) {
      margin-bottom: 26px;
      padding-right: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
