$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;
$mobile-min: 320px;

$black: #484848;
$blue: #1fc0fc;
$yellow: #ffc341;
$gradient: linear-gradient(108.42deg, $yellow 20.46%, #ffd701 65.31%);
