$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;
$mobile-min: 320px;

$black: #484848;
$blue: #1fc0fc;
$yellow: #ffc341;
$gradient: linear-gradient(108.42deg, $yellow 20.46%, #ffd701 65.31%);
$gradient__hover: linear-gradient(109.15deg, $yellow -50.3%, #ffd701 63.1%);
$gradient__active: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, $yellow -50.3%, #ffd701 63.1%);
